:root {
  --main-color: white;
  --sqrup-color: white;
  --sqrdown-color: white;
  --other-color: lightgray;
  --wrong-latter:gray;
  --text-color:black;
}

body{
  background-color: var(--main-color);
  font-family: system-ui, sans-serif;
  text-align: center;
  margin: 0;
  color: var(--text-color);
}

.sqrup {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px solid black;
  font-size: 30px; 
  text-align: center;
  line-height: 100px;
  vertical-align: top; 
  background-color: var(--sqrup-color);
  margin: 1px 0;
  border-radius: 10px;
  line-height: 1.5;
}

.sqrdown {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px solid black;
  font-size: 30px; 
  text-align: center;
  background-color:var(--sqrdown-color);
  margin: 2px 0;
  border-radius: 10px;
  color: var(--text-color);
}

.board1, .board2, .board3, .board4, .board5, .board6 {
  width: 300px;
  margin: 5px auto;
}

.letters1{
  width: 650px;
  margin: 5px auto;
  
}

.letters2{
  width: 650px;
  margin: 5px auto;
}

.letters3{
  width: 650px;
  margin: 5px auto;
}


.enter, .back {
  width: 100px;
  height: 50px;
  display: inline-block;
  border: 2px solid black;
  font-size: 30px; 
  text-align: center;
  background-color: var(--sqrdown-color);;
  margin: 2px 0;
  border-radius: 10px;
  color: var(--text-color);
}

h2{
  margin: 0px;
  display: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reset {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  font-size: 30px; 
  background-color: var(--other-color);
  margin-top: 17px;
  margin-left: 150px;
  border-radius: 10px;
  line-height: 1.5;
  color: var(--text-color);
}

.help {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  font-size: 30px; 
  background-color: var(--other-color);
  margin-top: 17px;
  margin-right: 150px;
  border-radius: 10px;
  line-height: 1.5;
  color: var(--text-color);
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  color: var(--text-color);
}

.popup-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  max-height: 75%;
  border-radius: 10px;
  color: var(--text-color);
}

.popup-header {
  display: flex;
  justify-content: right;
  align-items: center;
}

.close-popup {
  width: 25px;
  height: 25px;
  display: flex;
  border: 2px solid black;
  font-size: 15px; 
  background-color: var(--wrong-latter);
  margin: 0px;
  border-radius: 10px;
  line-height: 1.5;
  color: var(--text-color);
}

.sqrgreen {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px solid black;
  font-size: 30px; 
  text-align: center;
  background-color:lightgreen;
  margin: 2px 0;
  border-radius: 10px;
  color: var(--text-color);
}

.sqryellow {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px solid black;
  font-size: 30px; 
  text-align: center;
  background-color:yellow;
  margin: 2px 0;
  border-radius: 10px;
  color: var(--text-color);
}

.sqrgray {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px solid black;
  font-size: 30px; 
  text-align: center;
  background-color:var(--wrong-latter);
  margin: 2px 0;
  border-radius: 10px;
  color: var(--text-color);
}

.line1, .line2, .line3 {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  color: var(--text-color);
}

.line1 {
  margin-right: 127px;
}

.line2{
  margin-right: 22px;
}

.line3 {
  margin-right: 150px;
}

.popup-body {
  padding: 20px;
  text-align: left;
  color: var(--text-color);
}

.return {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  font-size: 30px; 
  background-color: var(--other-color);
  margin-top: 17px;
  margin-right: 10px;
  border-radius: 10px;
  line-height: 1.5;
  color: var(--text-color);
}

.spa {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.timer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}

.counts{
  margin-right: 75px;
}