:root {
  --main-color: white;
  --sqrup-color: white;
  --sqrdown-color: white;
  --other-color: lightgray;
  --wrong-latter:gray;
  --text-color:black;
  --yellow-color: yellow;
  --green-color: #2aa42a;
}

body{
  background-color: var(--main-color);
  font-family: system-ui, sans-serif;
  text-align: center;
  margin: 0;
  color: var(--text-color);
}

.sqrup {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px solid black;
  font-size: 30px; 
  text-align: center;
  line-height: 100px;
  vertical-align: top; 
  background-color: var(--sqrup-color);
  margin: 1px 0;
  border-radius: 10px;
  line-height: 1.5;
}

.sqrdown {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px solid black;
  font-size: 30px; 
  text-align: center;
  background-color:var(--sqrdown-color);
  margin: 2px 0;
  border-radius: 10px;
  color: var(--text-color);
}

.board1, .board2, .board3, .board4, .board5, .board6 {
  width: 300px;
  margin: 5px auto;
}

.letters1{
  width: 650px;
  margin: 5px auto;
  
}

.letters2{
  width: 650px;
  margin: 5px auto;
}

.letters3{
  width: 650px;
  margin: 5px auto;
}


.enter, .back {
  width: 100px;
  height: 50px;
  display: inline-block;
  border: 2px solid black;
  font-size: 30px; 
  text-align: center;
  background-color: var(--sqrdown-color);;
  margin: 2px 0;
  border-radius: 10px;
  color: var(--text-color);
}

h2{
  margin: 0px;
  display: none;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.reset {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  font-size: 30px; 
  background-color: var(--other-color);
  margin-top: 17px;
  margin-left: 150px;
  border-radius: 10px;
  line-height: 1.5;
  color: var(--text-color);
}

.help {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  font-size: 30px; 
  background-color: var(--other-color);
  margin-top: 17px;
  margin-right: 150px;
  border-radius: 10px;
  line-height: 1.5;
  color: var(--text-color);
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  color: var(--text-color);
}

.popup-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  max-height: 75%;
  border-radius: 10px;
  color: black;
}

.popup-header {
  display: flex;
  justify-content: right;
  align-items: center;
  color: black;
}

.close-popup {
  width: 25px;
  height: 25px;
  display: flex;
  border: 2px solid black;
  font-size: 15px; 
  background-color: var(--wrong-latter);
  margin: 0px;
  border-radius: 10px;
  line-height: 1.5;
  color: black;
}

.sqrgreen {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px solid black;
  font-size: 30px; 
  text-align: center;
  background-color:var(--green-color);
  margin: 2px 0;
  border-radius: 10px;
  color: var(--text-color);
}

.sqryellow {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px solid black;
  font-size: 30px; 
  text-align: center;
  background-color:var(--yellow-color);
  margin: 2px 0;
  border-radius: 10px;
  color: var(--text-color);
}

.sqrgray {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px solid black;
  font-size: 30px; 
  text-align: center;
  background-color:var(--wrong-latter);
  margin: 2px 0;
  border-radius: 10px;
  color: var(--text-color);
}

.line1, .line2, .line3 {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  color: black;
}

.line1 {
  margin-right: 127px;
}

.line2{
  margin-right: 22px;
}

.line3 {
  margin-right: 150px;
}

.popup-body {
  padding: 20px;
  text-align: left;
  color: black;
}

.return {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  font-size: 30px; 
  background-color: var(--other-color);
  margin-top: 17px;
  margin-right: 10px;
  border-radius: 10px;
  line-height: 1.5;
  color: var(--text-color);
}

.spa {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.timer{
  max-width: 300px;
  font-size: 25px;
  display: flex;
  justify-content: right;
  align-items: right;
  margin-top: 0px;
  margin-left: 0px;
  color: var(--text-color);
}

.counts{
  margin-right: 75px;
  margin-top: 5px;
}

.countm{
  margin-top: 5px;
}

.popwin{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
}

.reset2{
  width: 35px;
  height: 35px;
  display: flex;
  border: 2px solid black;
  font-size: 15px; 
  background-color: var(--other-color);
  margin: 0px;
  border-radius: 10px;
  line-height: 1.5;
  color: var(--text-color);
}

h3{
  margin: 0px;
}

.choice {
  align-items: center;
  gap: 10px;
  padding: 20px;
  font-size: 20px;
}

.title {
  font-size: 30px;
  margin: 0px;
}

.norm{
  max-width: 120px;
  height: 50px;
  display: inline-block;
  border: 2px solid black;
  font-size: 30px; 
  text-align: center;
  background-color: var(--other-color);
  margin: 5px;
  border-radius: 10px;
  color: var(--text-color);
}

a{
  text-decoration: none;
  color: var(--text-color);
}

.sitting{
  width: 50px;
  height: 50px;
  display: inline-block;
  justify-content: space-around;
  border: 2px solid black;
  font-size: 30px; 
  background-color: var(--other-color);
  margin-top: 17px;
  margin-left: 10px;
  border-radius: 10px;
  line-height: 1.5;
  color: var(--text-color);
}

.sittings{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4); 
  color: black;
}

.blue-style {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px solid skyblue;
  font-size: 30px; 
  text-align: center;
  background-color: darkblue;
  margin: 5px;
  border-radius: 10px;
  color: white;
}

.night-style {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px solid black;
  font-size: 30px; 
  text-align: center;
  background-color: #333;
  margin: 5px;
  border-radius: 10px;
  color: white;
}

.normal-style {
  width: 50px;
  height: 50px;
  display: inline-block;
  border: 2px solid black;
  font-size: 30px; 
  text-align: center;
  background-color: white;
  margin: 5px;
  border-radius: 10px;
  color: black;
}

.sitting-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
  max-height: 75%;
  border-radius: 10px;
  color: black;
  right: 50px;
}

.sitting-buttens {
  display: flex;
  justify-content: center;
}

.close-sitting {
  width: 25px;
  height: 25px;
  display: flex;
  border: 2px solid black;
  font-size: 15px; 
  background-color: var(--wrong-latter);
  margin: 0px;
  border-radius: 10px;
  line-height: 1.5;
  color: var(--text-color);
}

.ttime{
  width: 300px;
  display: flex;
  justify-content: space-around;
  margin-top: 17px;
}

.tim{
  max-width: 120px;
  height: 50px;
  display: inline-block;
  border: 2px solid black;
  font-size: 30px; 
  text-align: center;
  background-color: var(--other-color);
  margin: 0px;
  border-radius: 10px;
  color: var(--text-color);
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake{
  animation-name: shake;
  animation-duration: 0.5s;
}